/*con este estilo consegimos simplificar los calculos de ancho y alto
de nuestros elemento, mejora nuestra maquetacion con mucha flexibilidad y de facil mantenimiento*/
* {
    box-sizing: border-box;
}
/*damos estilo a todo nuestro HTML*/
html {
    font-family: Arial, Helvetica, sans-serif;
}
/*damos estilo margen y color de fondo a nuestro cuerpo de la web*/
body { 
    padding: 0px;
    margin:0px;
    background: rgb(188, 125, 149);
}
/*damos estilos a nuestro encabezado con posicion sticky para lograr que nuestro encabezado recora
todo el cuerpo cuando nos deslizamos hacia abajo, el color lo hemos degradado*/
header {
    background: linear-gradient(rgb(255, 0, 132), rgb(188, 125, 149));
    padding-bottom: 30px;
    position:sticky;
    top: 0;
    color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* creamos una media screen para  nuestro menu cuando exista cambio de pantalla y se coloque de forma vertical*/
@media screen and (max-width: 600px){
    nav a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
    }
}
/*colocamos float a la imagen del encabezado ya que necesitamos moverla a la derecha para armonizar
con los demas elemntos del encabezado*/
.img-encabezado {
    width: 125px;
    height: 125px;
    float: right;
}
.img-sect{
    width: 200px;
    height: 250px;
}
/*damos estilo a nuestros H1 de nuestro HTML*/
h1 {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 37px;
    margin: 0;
}
/*damos estilo a nuestro menu de navegacion*/
a {
    margin: 20px;
    text-decoration: none;
    color:bisque;
    font-size: 21px;
    font-weight: bold;/*para hacer los textos negrita*/
    
}
/*con hover logramos que cuando el usuario pase con el maus cambie de color y sepa en que pestaña
se encuentra*/
a:hover {
    color: brown;
    font-size: 25px;
}
.color {
    color: blue;
}

/*trabajamos nuestros H2*/
h2 {
    font-size: 22px;
    color: bisque;
    margin: 20px;
    padding: 10px;
}
.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    line-height: 1.5;
    color: black;
}
/*para nuestros elementos p colocamos texto justificado, un interlineado y un padding de 20px
logrando asi darle armonia junto con las imagenes*/
p {
    margin: 30px;
    text-align: justify;
    line-height: 1.5;
}

/*creamos estilo a nuestros div*/
div {
    padding: 20px;
    color: blue;
}
/*creamos estilos para nuestras imagenes de pie de pagina*/
.img-footer {
    float:left;/*nos ayuda a mover las imagenes y poder trabajar en los estilos*/
    border-radius: 40px;/*utilizamos este atributo para hacer circular nuetras imagenes de redes sociales*/
    width: 35px;
    height: 35px;
    margin: 10px;/*con este atributo le damos espacio entre las imagenes de redes sociales*/
}
.foot { 
    color: blue;
    font-size: 15px;
}
/*trabajamos los estilos del aviso legal*/
.mostrarAviso {
    text-decoration: underline;/*quiero que aparezaca una linea debajo del texto*/
    color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: purple;
    
}
/*mediante los siguientes estilos estamos ordenando que nuestro aviso legal se desplegable*/
.mostrarAviso:hover + .avisolegal {
    display: block;
}
.avisolegal {
    /* estilo de aviso legal*/
    display: none;/*inicialmente oculto*/
    border: 1px solid black;
    padding: 10px;
    
}
h3 {
    margin-left: 25px;
}
/*vamos a trabajar nuestras imagenes de la pestaña producto*/
.imgProducto {
    width: 300px;
    height: 450px;
    float: left;
    padding: 15px;  
    object-fit: cover;/*para poder recortar segun nuestras necesidades y no distorcionar la img*/
    object-position: top;/* para ajustar la img y que no quede cortada la img*/
}
.cierreFloat {/*creamos este estilo para cerrar el float de las imagenes de pagina producto*/
    clear: both;
 }
 iframe {
    padding: 20px;/*para dar espacio a nuestra ubicaion*/
 }
 /*trabajamos las dimensiones de nuestro formulario*/
form{
    display: flex;
    flex-direction: column;
    width: 300px;/*ajustamos el ancho*/
    margin: 30px;/*centra el formulario horizontamemte*/
}
label {
    margin-bottom: 5px;
}
input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;/*ocupa todo el ancho disponible*/
}
textarea {
    height: 100px;/*ajstamos la altura*/
}
.checkbox {
    display: flex;
    align-items: center;
    color: black;
    white-space: nowrap;/*para evitar que el navegador coloque saltos de linea automatico*/
}
.button {
    font-size: 14px;
    width: 70px; /* Ajustamos el ancho del cuadro para que sea armonioso*/
    margin: 10px; /* Añadimos márgenes para separar los botones */
    background-color: bisque;/* colocamos un relleno interno*/
    border-radius: 5px;
}
/*damos un toque profesional al pasar el cursor por encima de los botones*/
.button:hover {
    color: purple;
    font-size: 15px;
    font-weight: bold;/*para hacer los textos negrita*/
}