<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Diseña tus vestidos">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Teresa">
    <meta name="keywords" content="design, color creation">
    <title>Design your dresses</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <main>
        <header>
            <nav>
                <img class="img-encabezado" src="../imagenes/img.icono.jpg" alt="boceto">
                <h1>Jaster</h1>
                <a href="../index.html">Index</a>
                <a href="producto.html">Products</a>
                <a href="presupuesto.html">Budget</a>
                <a href="contacto.html" class="color">Contact</a>
                    
            </nav>
        </header>
        <p><b>Contact as now: </b></p>
        <!--copiamos enlace de la direccion mediante google maps seleccionamos la direccion desplegamos
        el menu bajamos y damos click en copiar o insertar mapa seleccionamos insertar mapa copiamos al url
        y esto pegamos en nuestro HTML obteniedo asi que se meutre el mapa en nuestra pagina web-->
       <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d9806.437380972999!2d5.112389953980298!3d52.086840986309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47c66f4339d32d37%3A0xd6c8fc4c19af4ae9!2sUtrecht!3m2!1d52.090737399999995!2d5.1214201!4m5!1s0x47c66f4532830ff1%3A0xac9106fa035ca4e5!2sGraaf%20Floris%20Caf%C3%A9%20Restaurant%2C%20Vismarkt%2013%2C%203511%20KS%20Utrecht!3m2!1d52.091008099999996!2d5.120327!5e0!3m2!1sgl!2snl!4v1729501212405!5m2!1sgl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
    <footer>
        <div>
            Address: JASTER /  Utrecht 2020 / 020225351612<br><br>
            <a class="foot" href="https://es.wikipedia.org/wiki/Red_de_computadoras"><img class="img-footer" src="../imagenes/img.facebook.jpg" alt="facebook"></a>
            <a class="foot" href="https://es.wikipedia.org/wiki/Red_de_computadoras"><img class="img-footer" src="../imagenes/img.twitter.png" alt="twitter"></a>
            <a class="foot" href="https://es.wikipedia.org/wiki/Red_de_computadoras"><img class="img-footer" src="../imagenes/img.tiktok.png" alt="tiktok"></a>
            <a class="foot" href="https://es.wikipedia.org/wiki/Red_de_computadoras"><img class="img-footer" src="../imagenes/img-inst3..jpg" alt="instagram"></a>
        </div>
    </footer>
</body>
</html>