<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Diseña tus vestidos">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Teresa">
    <meta name="keywords" content="design, color creation">
    <title>Design your dresses</title>
    <link rel="stylesheet" href="../css/estilos.css"><!--con los caracteres (../) se indexa a la hoja de estilos de css-->
</head>
<body>
    <main>
        <header>
            <nav>
                <img class="img-encabezado" src="../imagenes/img.icono.jpg" alt="boceto"><!--usamos (../) para indexar la imagen con el index-->
                <h1>Jaster</h1>
                    <a href="../index.html">Index</a>
                    <a href="producto.html" class="color">Products</a>
                    <a href="presupuesto.html">Budget</a>
                    <a href="contacto.html">Contact</a>            
            </nav>
        </header>
        <h2>Know our Products</h2>
        <div>
            <!--creamos nuestra cuadricula de imagenes de nuestros productos(ficticios)-->
            <img class="imgProducto" src="../imagenes/img.1.jpg" alt="vestido1">
            <img class="imgProducto" src="../imagenes/img.2.jpg" alt="vestido2">
            <img class="imgProducto" src="../imagenes/img.3.jpeg" alt="vestido3">
            <img class="imgProducto" src="../imagenes/img.4.webp" alt="vestido4">
            <img class="imgProducto" src="../imagenes/img.5.jpg" alt="vestido5">
            <img class="imgProducto" src="../imagenes/img.6.jpg" alt="vestido6">
            <img class="imgProducto" src="../imagenes/img7.jpg" alt="vestido7">
            <img class="imgProducto" src="../imagenes/img8.webp" alt="vestido8">
            <img class="imgProducto" src="../imagenes/img.9.jpg" alt="vestido9">
            <img class="imgProducto" src="../imagenes/img.10.webp" alt="vestido10">
            <img class="imgProducto" src="../imagenes/img.11.avif" alt="vestido11">
            <img class="imgProducto" src="../imagenes/img.12.jpg" alt="vestido12">
            <img class="imgProducto" src="../imagenes/img.fondo2.jpg" alt="vestido13">
        </div>
        <div class="cierreFloat"><!--Se crea un div para poder cerra el float del div de imagenes-->
        </div>       
    </main>
    <footer>
        <div>
            Address: JASTER /  Utrecht 2020<br><br>
            <a class="foot" href="https://es.wikipedia.org/wiki/Red_de_computadoras"><img class="img-footer" src="../imagenes/img.facebook.jpg" alt="facebook"></a>
            <a class="foot" href="https://es.wikipedia.org/wiki/Red_de_computadoras"><img class="img-footer" src="../imagenes/img.twitter.png" alt="twitter"></a>
            <a class="foot" href="https://es.wikipedia.org/wiki/Red_de_computadoras"><img class="img-footer" src="../imagenes/img.tiktok.png" alt="tiktok"></a>
            <a class="foot" href="https://es.wikipedia.org/wiki/Red_de_computadoras"><img class="img-footer" src="../imagenes/img-inst3..jpg" alt="instagram"></a>
        </div>
    </footer>
</body>
</html>